.movie-item {
    display: block;
    margin-bottom: 32px;
    border: 1px solid grey;
    border-radius: 30px;
    padding: 10px;
}

.movie-item > div {
    display: inline-block;
    padding: 0 16px;
    margin-bottom: 24px;
}
